Package: com.v4h.usbcam
Name: v4h USB Pro
Depends: firmware (>= 13.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: VCAM toggle app and USB stream helper for jailbroken iOS.
Author: v4h
Section: Tweaks
