Package: com.v4h.usbcam
Name: v4h USB Pro
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fake Camera via USB 100% No Delay for iOS 15.8.3
Author: v4h
Section: Tweaks