Package: com.v4h.usbcam
Name: v4h USB Pro
Depends: firmware (>= 14.0)
Version: 1.0.1
Architecture: iphoneos-arm
Description: VCAM toggle app and build-safe iOS tweak scaffold.
Author: v4h
Section: Tweaks
