<dict>
    <key>CFBundleExecutable</key> <string>v4hApp</string>
    <key>CFBundleIdentifier</key> <string>com.v4h.usbcam.app</string>
    <key>CFBundleName</key> <string>v4h USB</string>
    <key>CFBundlePackageType</key> <string>APPL</string>
    <key>LSRequiresIPhoneOS</key> <true/>
    <key>UISupportedInterfaceOrientations</key> <array><string>UIInterfaceOrientationPortrait</string></array>
</dict>